# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Prom Knight.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Utilizador\Desktop\GameDev\Game Files\ASummerTale\Prom Knight\.idea\.idea.Prom Knight\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
