# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Codename-Toy.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Utilizador\Desktop\GameDev\Game Files\Codename-Toy\.idea\.idea.Codename-Toy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
